body {
  margin: 0;
  --section-padding: 2rem 0.25rem;
  --card-padding: 1rem 0.5rem;
}
#displayTask {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  border-top: 3px black solid;
  padding: var(--section-padding);
  gap: 2rem;
}

.input-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: var(--section-padding);
  form {
    width: 50%;
    display: flex;
    flex-direction: inherit;
    :nth-child(even) {
      margin-bottom: 1rem;
    }
  }
}
.task-card {
  background-color: lightgray;
  border-radius: 3px;
  padding: var(--card-padding);
  max-width: 250px;
}
