body {
  margin: 0;
  --section-padding: 2rem 0.25rem;
  --card-padding: 1rem 0.5rem;
}
.hero {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 2rem;
}
.input-section {
  display: flex;
  flex-direction: column;
  padding: var(--section-padding);
  form {
    width: 50%;
    display: flex;
    flex-direction: inherit;
    :nth-child(even) {
      margin-bottom: 1rem;
    }
  }
}
section {
  min-height: 20rem;
}

#displayTask {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  border-top: 3px black solid;
  padding: var(--section-padding);
  gap: 2rem;

  :nth-child(1) {
    order: -1;
  }
}

.task-card {
  background-color: lightgray;
  border-radius: 3px;
  padding: var(--card-padding);
  max-width: auto;

  &:hover {
    outline: solid black 2px;
  }
  height: fit-content;
}

.deactivated {
  background-color: rgb(255, 255, 255);
}

#deactivatedTask {
  background-color: lightgray;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  border-top: 3px black solid;
  padding: var(--section-padding);
  gap: 2rem;

  > * {
    background-color: rgb(255, 255, 255);
  }
}
